@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Leave Management System</p>
    <br />
    <br />
    <br />
    <img src="~/Images/download.jpg" width="100" height="100" />
    <br />
    <img src="~/Images/post-image_file-must_have_leave_management_system.jpg" width="500" height="320" />
</div>

